* {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.flexContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 150px));
    grid-template-rows: repeat(3, minmax(100px, 150px));
}

.spot {
    border: 2px solid white;
    background-color: #df9fbf;
    color: #a13668;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bolder;
}

.newGame {
    background-color: #a13668;
    color: black;
    width: 350px;
    height: 350px;
    font-size: larger;
    text-align: center;
    position: absolute;
   margin: auto;
    left: 0;
    right: 0;
    bottom: 45px;
    text-align: center;
}

.formDiv {
    margin-top: 25px;
}

#submitButton {
    background-color: #d582a8;
    padding: 10px;
    font-size: large;
}

input {
    background-color: #f5e0ea;
    margin-top: 10px;
    height: 25px;
    width: 250px;
}

.formHead {
    padding-top: 25px;
}
#newGameButton {
    background-color: #d582a8;
    padding: 10px;
    font-size: large; 
    margin-top: 10px;
}